# Python
.venv/
__pycache__/
*.py[cod]

# PyCharm
.idea/
*.iml

# Environment files / secrets
**/.env
**/.env.*
**/*.env
**/*.env.*

# Local Docker data
Docker/n8n_data/
Docker/postgres_data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db